<div id="sidebar" class="sidebar">
    <a href="/" class="sidebar-icon" id="homeBtn">
        <img src="/images/icon-home.png" alt="Home"/>
        <span class="icon-label">Home</span>
    </a>
    <a href="/graph" class="sidebar-icon" id="prometheusBtn">
        <img src="/images/logo-prometheus.png" alt="Prometheus"/>
        <span class="icon-label">Prometheus</span>
    </a>
    <a href="/config-management" class="sidebar-icon" id="configManagement">
        <img src="/images/icon-config-management.png" alt="Config Management"/>
        <span class="icon-label">Config Management</span>
    </a>
    <a href="/rules-management" class="sidebar-icon" id="rulesManagement">
        <img src="/images/icon-rules-management.png" alt="Rules Management"/>
        <span class="icon-label">Rules Management</span>
    </a>
    <a href="/metrics-management" class="sidebar-icon" id="metricsManagement">
        <img src="/images/icon-metrics-management.png" alt="Metrics Management"/>
        <span class="icon-label">Metrics Management</span>
    </a>
</div> 